{% extends 'home.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock extra_head %}

{% block content %}
    <div class="post-form-container">
        <h2>Create Post</h2>
        <form method="POST" enctype="multipart/form-data"> <!-- enctype required for images -->
            {% csrf_token %}
            
            <textarea name="content" placeholder="Content" rows="5" required></textarea><br><br>
            <input type="file" name="image"><br><br>
            <button type="submit">Post</button>
        </form>
    </div>
{% endblock content %}
